.center {
  display: flex;
  justify-content: center;
  margin-top: 8%;

  .hello-container {
    padding: 60px;
    background-color: #ffffff;
    width: fit-content;
    border-radius: 50px;
    box-shadow: #ededed 3px 3px 70px 1px;

    h2 {
      font-size: 50px;

      span {
        color: #5800FF;
      }
    }

    .paragraph {
      font-size: 20px;

      img {
        margin-top: 15px;
        width: 50px;
      }

      a,a:visited {
        text-decoration: none;
        color: #5800FF;
      }

      a:hover{
        color: #290172;
      }
    }

    @media only screen and (max-width: 600px) {
      h2 {
        font-size: 30px;
      }

      box-shadow: #ededed 3px 3px 10px 1px;
      margin-top: 100px;
      padding: 40px;
    }
  }

  .image-container {
    margin-left: 100px;

    img {
      border-radius: 50%;
      width: 300px;
      margin-top: 20px;
      border: solid 4px #ededed;
      box-shadow: #d4d4d4 5px 5px 70px 5px;
    }

    @media only screen and (max-width: 600px) {
      margin-left: 0px;
      position: absolute;

      img {
        width: 100px;
        border: solid 20px #ffffff;
        border-radius: 50%;
        box-shadow: none;
      }  
    }
  
  }
}